.dark-primary-color {
  background: #5d4037;
}
.default-primary-color {
  background: #795548;
}
.light-primary-color {
  background: #d7ccc8;
}
.text-primary-color {
  color: #ffffff;
}
.accent-color {
  background: #536dfe;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #bdbdbd;
}

.headSection {
  padding: 1.5%;
  border-bottom: solid;
  margin-bottom: 0.8%;
  background-color: #5d4037;
  box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.8);
}

.pageTitle {
  font-size: 2em;
  padding-bottom: 1%;
  color: #ffffff;
  text-align: center;
}
