.app {
  padding: 1.5%;
}

.pageTitle {
  font-size: 2em;
  float: right;
  padding-bottom: 1%;
  text-align: right;
}

.searchSection {
  float: none;
  width: 30%;
  margin: 0 auto;
}

.displayArea {
}
