.cover {
  width: 80%;
  height: 200px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  filter: blur(15px);
  opacity: 0.4;
}

.profile-pic {
  width: 15%;
  border: 5px solid rgba(0, 0, 0, 0.2);
  position: relative;
  top: -75px;
  margin: 0 auto;
  display: block;
  height: 15%;
  border-radius: 100%;
}

.name, .location, .bio {
  text-align: center;
  color: #212121;
}

.name {
  font-size: 2.5em;
  font-weight: bold;
}

.location {
  font-size: 1em;
}

.bio {
  font-size: 1.3em;
  font-style: italic;
}
