.cover {
  width: 80%;
  height: 200px;

  display: block;
  margin: 0 auto;
  object-fit: cover;
  filter: blur(15px);
  opacity: 0.4;
}

.profile-pic {
  width: 15%;

  border: 5px solid rgba(0, 0, 0, 0.2);
  position: relative;
  top: -75px;

  margin: 0 auto;
  display: block;
  height: 15%;
  border-radius: 100%;
}

.name {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #212121;
}

.location {
  font-size: 1em;
  color: #494949;
}

.bio {
  font: 1em;
  color: #494949;
  font-style: italic;
}
